/* App.css */

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 400px; 
  width: auto; 
  z-index: 1; 
}

h1 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: hsl(300, 69%, 95%);
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
select {
  width: calc(100% - 20px);
  padding: 8px;
  margin: 5px 0;
  border: 3px solid #ccc;
  border-radius: 4px;
}


.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
}

button {
  padding: 7px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 8px;
  border: none;
  background-color: #b5b0f7;
  color: #fff;
  font-family: 'Agbalumo', sans-serif;
}


/* Background */

body {
  background-image: url('./sky.gif');
  background-size: cover;
  font-family: 'Agbalumo', sans-serif;
  
}